{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Training Details{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'checker_check_requests' %}" class="btn btn-secondary mb-3">Back</a>
    <h2>Training Details for {{ training_programme_title }}</h2>

    <form method="post">
        {% csrf_token %}
        <div class="d-flex mb-3 align-items-center">
            <div class="me-2">
                <label for="action" class="form-label">Select Action</label>
                <select name="action" class="form-control" required>
                    <option value="approve">Approve</option>
                    <option value="reject">Reject</option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#commentModal">Go</button>
            </div>
        </div>

        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="commentModalLabel">Provide Comment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="checker_comment" class="form-label">Comment</label>
                            <textarea name="checker_comment" class="form-control" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="max-height: 90vh; overflow-y: auto; margin-top: 20px;">
            <table class="table table-sm" style="font-size: 0.875rem;">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap"><input type="checkbox" id="select_all" onclick="toggle(this);"></th>
                        <th scope="col" class="text-nowrap">User</th>
                        <th scope="col" class="text-nowrap">User Department</th>
                        <th scope="col" class="text-nowrap">Source</th>
                        <th scope="col" class="text-nowrap">HOD</th>
                        <th scope="col" class="text-nowrap">HOD Department</th>
                        <th scope="col" class="text-nowrap">Date</th>
                        <th scope="col" class="text-nowrap">User Comment</th>
                        <th scope="col" class="text-nowrap">HOD Comment</th>
                        <th scope="col" class="text-nowrap">Checker Comment</th>
                        <th scope="col" class="text-nowrap">HOD Approval Timestamp</th>
                        <th scope="col" class="text-nowrap">Checker Approval Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in combined_requests %}
                    <tr class="{% if request.status.name == 'CKRapproved' %}table-success{% elif request.status.name == 'CKRrejected' %}table-danger{% endif %}">
                        <td><input type="checkbox" name="selected_requests" value="{{ request.id }}"></td>
                        <td class="text-nowrap">
                            {% if request|is_instance:'RequestTraining' %}
                                {{ request.custom_user.employee_name }}
                            {% else %}
                                {{ request.assigned_user.employee_name }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if request|is_instance:'RequestTraining' %}
                                {{ request.custom_user.department }}
                            {% else %}
                                {{ request.assigned_user.department }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if request|is_instance:'RequestTraining' %}
                                User Requested
                            {% else %}
                                HOD Assigned
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if request.hod_user %}
                                {{ request.hod_user.employee_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if request.hod_user %}
                                {{ request.hod_user.department }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if request|is_instance:'RequestTraining' %}
                                {{ request.request_date }}
                            {% else %}
                                {{ request.assignment_date }}
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            {% if request|is_instance:'RequestTraining' %}
                                {{ request.user_comment }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-nowrap">{{ request.hod_comment }}</td>
                        <td class="text-nowrap">{{ request.checker_comment }}</td>
                        <td class="text-nowrap">{{ request.hod_approval_timestamp }}</td>
                        <td class="text-nowrap">{{ request.checker_approval_timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}

{% block extrascripts %}
<script>
function toggle(source) {
    checkboxes = document.getElementsByName('selected_requests');
    for(var i = 0, n = checkboxes.length; i < n; i++) {
        checkboxes[i].checked = source.checked;
    }
}

document.addEventListener('DOMContentLoaded', function () {
    var commentModal = new bootstrap.Modal(document.getElementById('commentModal'), {
        backdrop: false
    });
});
</script>
{% endblock %}
