{% extends 'checkerbase.html' %}
{% block title %}Checker Check Requests{% endblock %}

{% block content %}
<div class="container">
    <h2>Training Requests and Assignments</h2>

    {% if combined_requests %}
        <div style="max-height: 90vh; overflow-y: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Training</th>
                        <th scope="col">Count</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for training, counts in combined_requests %}
                    <tr class="{% if counts.CKRrejected > 0 %}table-danger{% elif counts.CKRapproved > 0 %}table-success{% elif counts.HODapproved > 0 %}table-warning{% endif %}">
                        <td>{{ training }}</td>
                        <td>{{ counts.total }}</td>
                        <td>
                            <a href="{% url 'checker_training_detail' training %}" class="btn btn-info">Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No training requests found.</p>
    {% endif %}
</div>
{% endblock %}