<div class="form-group">
    <label for="question_1">1) How do you find the programme?</label>
    <table class="table table-bordered">
        <tr>
            <td><input type="radio" id="theoretical" name="question_1" value="Theoretical"> Theoretical</td>
            <td><input type="radio" id="practical" name="question_1" value="Practical"> Practical</td>
            <td><input type="radio" id="balance" name="question_1" value="Good balance of both"> Good balance of both</td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_2">2) To what extent you were able to understand the programme?</label>
    <table class="table table-bordered">
        <tr>
            <td><input type="radio" id="fully" name="question_2" value="Fully"> Fully</td>
            <td><input type="radio" id="mostly" name="question_2" value="Mostly"> Mostly</td>
            <td><input type="radio" id="partly" name="question_2" value="Partly"> Partly</td>
            <td><input type="radio" id="not_at_all" name="question_2" value="Not at all"> Not at all</td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_3">3) To what extent programme was relevant to your job?</label>
    <table class="table table-bordered">
        <tr>
            <td><input type="radio" id="fully_relevant" name="question_3" value="Fully"> Fully</td>
            <td><input type="radio" id="mostly_relevant" name="question_3" value="Mostly"> Mostly</td>
            <td><input type="radio" id="partly_relevant" name="question_3" value="Partly"> Partly</td>
            <td><input type="radio" id="not_at_all_relevant" name="question_3" value="Not at all"> Not at all</td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_4">4) Give your suggestion to make this programme more useful to your job.</label>
    <textarea class="form-control" id="question_4" name="question_4" rows="3"></textarea>
</div>
<div class="form-group">
    <label for="question_5">5) To what extent this programme will help you to do your job better?</label>
    <table class="table table-bordered">
        <tr>
            <td><input type="radio" id="large_extent" name="question_5" value="To a large extent"> To a large extent</td>
            <td><input type="radio" id="some_extent" name="question_5" value="To some extent"> To some extent</td>
            <td><input type="radio" id="very_little" name="question_5" value="Very Little"> Very Little</td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_6">6) What major benefits do you consider out of this programme?</label>
    <table class="table table-bordered">
        <tr>
            <td>a) Clarified some of your ideas / concepts</td>
            <td><input type="radio" id="6a_yes" name="question_6a" value="YES"> YES</td>
            <td><input type="radio" id="6a_no" name="question_6a" value="NO"> NO</td>
        </tr>
        <tr>
            <td>b) Presented some new ideas / approaches</td>
            <td><input type="radio" id="6b_yes" name="question_6b" value="YES"> YES</td>
            <td><input type="radio" id="6b_no" name="question_6b" value="NO"> NO</td>
        </tr>
        <tr>
            <td>c) Motivated you to improve your job and work environment</td>
            <td><input type="radio" id="6c_yes" name="question_6c" value="YES"> YES</td>
            <td><input type="radio" id="6c_no" name="question_6c" value="NO"> NO</td>
        </tr>
        <tr>
            <td>d) Helped to build confidence in you to impart this training to your colleagues</td>
            <td><input type="radio" id="6d_yes" name="question_6d" value="YES"> YES</td>
            <td><input type="radio" id="6d_no" name="question_6d" value="NO"> NO</td>
        </tr>
        <tr>
            <td>e) Any other benefits</td>
            <td colspan="2"><textarea class="form-control" id="question_6e" name="question_6e" rows="3"></textarea></td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_7">7) How do you rate the overall presentation by the faculty?</label>
    <table class="table table-bordered">
        <tr>
            <td><input type="radio" id="excellent" name="question_7" value="Excellent"> Excellent</td>
            <td><input type="radio" id="very_good" name="question_7" value="Very Good"> Very Good</td>
            <td><input type="radio" id="good" name="question_7" value="Good"> Good</td>
            <td><input type="radio" id="fair" name="question_7" value="Fair"> Fair</td>
            <td><input type="radio" id="unsatisfactory" name="question_7" value="Unsatisfactory"> Unsatisfactory</td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_8">8) What do you think about the Quality and Quantity of Training Course Material?</label>
    <table class="table table-bordered">
        <tr>
            <td><input type="radio" id="too_much" name="question_8" value="Too much"> Too much</td>
            <td><input type="radio" id="just_sufficient" name="question_8" value="Just Sufficient"> Just Sufficient</td>
            <td><input type="radio" id="less_than_required" name="question_8" value="Less Than Required"> Less Than Required</td>
            <td><input type="text" class="form-control" id="question_8_quality_rate" name="question_8_quality_rate" placeholder="Quality Rate (1-10)"></td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_9">9) How do you rate the overall arrangement of the programme?</label>
    <table class="table table-bordered">
        <tr>
            <td><input type="radio" id="excellent_arrangement" name="question_9" value="Excellent"> Excellent</td>
            <td><input type="radio" id="very_good_arrangement" name="question_9" value="Very Good"> Very Good</td>
            <td><input type="radio" id="good_arrangement" name="question_9" value="Good"> Good</td>
            <td><input type="radio" id="fair_arrangement" name="question_9" value="Fair"> Fair</td>
            <td><input type="radio" id="poor_arrangement" name="question_9" value="Poor"> Poor</td>
        </tr>
    </table>
</div>
<div class="form-group">
    <label for="question_10">10) Your valuable suggestions:</label>
    <textarea class="form-control" id="question_10" name="question_10" rows="3"></textarea>
</div>
