{% extends 'makerbase.html' %}
{% block title %}Training Details{% endblock %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <a href="{% url 'maker_check_requests' %}" class="btn btn-secondary mb-3">Back</a>
    <h2>Training Details for {{ training_programme_title }}</h2>

    <div style="max-height: 90vh; overflow-y: auto; margin-top: 20px;">
        <table class="table table-sm" style="font-size: 0.875rem;">
            <thead>
                <tr>
                    <th scope="col" class="text-nowrap">User</th>
                    <th scope="col" class="text-nowrap">User Department</th>
                    <th scope="col" class="text-nowrap">Source</th>
                    <th scope="col" class="text-nowrap">HOD</th>
                    <th scope="col" class="text-nowrap">HOD Department</th>
                    <th scope="col" class="text-nowrap">Date</th>
                    <th scope="col" class="text-nowrap">User Comment</th>
                    <th scope="col" class="text-nowrap">HOD Comment</th>
                    <th scope="col" class="text-nowrap">Checker Comment</th>
                    <th scope="col" class="text-nowrap">HOD Approval Timestamp</th>
                    <th scope="col" class="text-nowrap">Checker Approval Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for request in combined_requests %}
                <tr>
                    <td class="text-nowrap">
                        {% if request|is_instance:'RequestTraining' %}
                            {{ request.custom_user.employee_name }}
                        {% else %}
                            {{ request.assigned_user.employee_name }}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {% if request|is_instance:'RequestTraining' %}
                            {{ request.custom_user.department }}
                        {% else %}
                            {{ request.assigned_user.department }}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {% if request|is_instance:'RequestTraining' %}
                            User Requested
                        {% else %}
                            HOD Assigned
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {% if request.hod_user %}
                            {{ request.hod_user.employee_name }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {% if request.hod_user %}
                            {{ request.hod_user.department }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {% if request|is_instance:'RequestTraining' %}
                            {{ request.request_date }}
                        {% else %}
                            {{ request.assignment_date }}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {% if request|is_instance:'RequestTraining' %}
                            {{ request.user_comment }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-nowrap">{{ request.hod_comment }}</td>
                    <td class="text-nowrap">{{ request.checker_comment }}</td>
                    <td class="text-nowrap">{{ request.hod_approval_timestamp }}</td>
                    <td class="text-nowrap">{{ request.checker_approval_timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}