{% extends 'makerbase.html' %}
{% block title %}Training Details{% endblock %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <h2>Training Details for {{ training_programme_title }}</h2>

    <div style="max-height: 90vh; overflow-y: auto; margin-top: 20px;">
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Source</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">User Comment</th>
                    <th scope="col">HOD Comment</th>
                    <th scope="col">Checker Comment</th>
                    <th scope="col">HOD Approval Timestamp</th>
                    <th scope="col">Checker Approval Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for request in combined_requests %}
                <tr>
                    <td>
                        {% if request|is_instance:'RequestTraining' %}
                            {{ request.custom_user.employee_name }}
                        {% else %}
                            {{ request.assigned_user.employee_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if request|is_instance:'RequestTraining' %}
                            User Requested
                        {% else %}
                            HOD Assigned
                        {% endif %}
                    </td>
                    <td>{{ request.status.name }}</td>
                    <td>
                        {% if request|is_instance:'RequestTraining' %}
                            {{ request.request_date }}
                        {% else %}
                            {{ request.assignment_date }}
                        {% endif %}
                    </td>
                    <td>{{ request.user_comment }}</td>
                    <td>{{ request.hod_comment }}</td>
                    <td>{{ request.checker_comment }}</td>
                    <td>{{ request.hod_approval_timestamp }}</td>
                    <td>{{ request.checker_approval_timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
